<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079244690707-3h2iv6abor3j699l5k98m91maoi0okev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079244690707-3h2iv6abor3j699l5k98m91maoi0okev</string>
	<key>API_KEY</key>
	<string>AIzaSyAbOL2MrWsIunpPMTe2tBj8y8CcjnNSvbA</string>
	<key>GCM_SENDER_ID</key>
	<string>1079244690707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harikrishnanuvvula.driverapp</string>
	<key>PROJECT_ID</key>
	<string>ride-fd28b</string>
	<key>STORAGE_BUCKET</key>
	<string>ride-fd28b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079244690707:ios:7f716a742875381e9df6e6</string>
	<key>DATABASE_URL</key>
	<string>https://ride-fd28b-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>